
<div class="container-fluid bg-dark">
    <div class="background img-fluid w-100 border-0">
      <!-- <img
        class="card-img-top"
        src="/assets/loginpicture.jpg"
        alt="Login Picture"
        style="width: 100%, height 100%"

      /> -->


      <div class="card-img-overlay mt-10">


          <div class="col align-self-start"></div>
          <div class="col align-self-center">
            <div class="card rounded-3 mt-5" style="width: 25rem">
              <div class="card-body">
                <form [formGroup]="requiredForm" novalidate>
                <h5>{{title}}</h5>


                  <div class="form-outline mb-4">
                    <input [(ngModel)]="user.firstName" name="firstName" minlength="1" type="text" id="first-name" class="form-control" formControlName = "firstName" />
                    <label class="form-label" for="first-name"
                      >First Name</label
                    >
                  </div>
                  <div *ngIf="requiredForm.controls['firstName'].invalid && requiredForm.controls['firstName'].touched"
                    class="alert alert-danger">
                    <div *ngIf="requiredForm.controls['firstName'].errors">
                      First Name is required.
                  </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="user.lastName" name="lastName" minlength="1" type="text" id="last-name" class="form-control" formControlName = "lastName" />
                    <label class="form-label" for="last-name"
                      >Last Name</label
                    >
                  </div>
                  <div *ngIf="requiredForm.controls['lastName'].invalid && requiredForm.controls['lastName'].touched"
                       class="alert alert-danger">
                    <div *ngIf="requiredForm.controls['lastName'].errors">
                      Last Name is required.
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="user.username" name="username" minlength="2" type="text" id="username" class="form-control" formControlName="username" />
                    <label class="form-label" for="username"
                      >Username</label
                    >
                  </div>
                  <div *ngIf="requiredForm.controls['username'].invalid && requiredForm.controls['username'].touched"
                       class="alert alert-danger">
                    <div *ngIf="requiredForm.controls['username'].errors">
                      Username must be at least 2 characters.
                    </div>
                  </div>
                  <div class="form-outline mb-4">
                    <input [(ngModel)]="user.email" name="email" pattern ="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" minlength="1" type="email" id="email" class="form-control" formControlName = "email" />
                    <label class="form-label" for="email"
                      >Email address</label
                    >
                  </div>
                  <div *ngIf="requiredForm.controls['email'].invalid && requiredForm.controls['email'].touched"
                       class="alert alert-danger">
                    <div *ngIf="requiredForm.controls['email'].errors">
                      Invalid email address.
                    </div>
                  </div>
                  <!-- Password input -->
                  <div class="form-outline mb-4">
                    <input
                    [(ngModel)]="user.password"
                      name="password"
                      type="password"
                    minlength="8"
                      id="password"
                      class="form-control"
                    formControlName = "password"
                    />
                    <label class="form-label" for="password">Password</label>
                  </div>
                  <div *ngIf="requiredForm.controls['password'].invalid && requiredForm.controls['password'].touched"
                       class="alert alert-danger">
                    <div *ngIf="requiredForm.controls['password'].errors">
                      Password must be at least 8 characters.
                    </div>
                  </div>
                  <div class="col text-center">
                    <button
                      type="button"
                      class="btn btn-primary btn-block mb-4 text-center"
                      (click)="registerUser()"
                      >
                      Register
                    </button>
                  </div>
                  <div *ngIf="clientMessage.message.length > 0" class="alert alert-secondary" role="alert">
                    {{clientMessage.message}}
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col align-self-end"></div>
        </div>
      </div>
    </div>
