<div class="container-fluid bg-dark">
    <div class="background img-fluid w-100 border-0">
      <img
        class="card-img-top"
        src="/assets/loginpicture.jpg"
        alt="Login Picture"
        style="width: 100%"     
      />
    </div>
</div>

<div class="container">
    <div class="card">
      <div class="shadow-lg">
  
        <div class="text-center">
  
            <h1 class="card-body mt-10">JACL Adventure Finder</h1>
  
            <!-- show the login component here-->
            <login></login>
            <br>
            <register></register>
  
        </div>
      </div>
    </div>
 