<div class="welcome-header align-self-center" id="welcome-user-home">
  <h1 class="display-1">Welcome, {{ user.username }}!</h1>
</div>
<br>
<div class="park-list card mx-auto">
  <h2 class="display-5 card-header">Saved Parks</h2>
  <!--Rendered based upon which parks the user likes/saves-->
  <div class="card-body">
    <ul class="my-park-list list-group">
      <search-results-list-item *ngFor="let p of parks"
        [park]="p"
      >
      </search-results-list-item>
    </ul>
  </div>
  
</div>
