/* You can add global styles to this file, and also import other style files */
@import url("~bootstrap/dist/css/bootstrap.css");

body {
    min-height: 100vh;
    background-image: url("/assets/loginpicture.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}